{% extends "core/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Список коллекций по рубрике {{ rubric.title }} {% endblock %}

{% block content %}
<div id="main">
    <div class="block">
        {{ response_message }} <br>
        {% for collection in collections %}
            {{ collection }}
            <br>
            {% for image in collection.images_in_collection %}
                <p><a href="{% url 'core:image_view' image.slug %}">
                    <img src="{% thumbnail image.image 50x50 crop %}"></a>
            {% endfor %}
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}

