{% extends "core/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Список моделей{% endblock %}

{% block content %}
<div id="main">
    <p><a href="{% url 'core:index' %}">Главное меню</a><br>
    <p>Список всех моделей:</p>
    {% for model in models %}
        <div class="rubric">
            <a href="{{ model.get_absolute_url }}"> {{ model.name }}
            <img src="{% thumbnail model.image 300x300 crop %}"></a></b>
        </div>
    {% endfor %}
</div>
{% include "core/pagination.html" with page=page_obj %}
{% endblock %}