{% extends "core/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<div id="main">
    <p><a href="{% url 'core:index' %}">Главное меню</a> / <a href="{% url 'core:posts_by_rubric' post.rubric.slug %}">
        {{ post.rubric }} </a> /  {{ post.title }}</p>

    {{ post.description }} <br><br>
    <div class="image">
        {% for image in post.images_in_post %}
            <b><a href="{{ image.get_absolute_url }}">
                <img src="{% thumbnail image.image 800x1000  crop %}"></a></b>
        <br><br><br>
        {% endfor %}
    </div>
</div>


{% endblock %}