body, html {
    background:white;
    margin: 0;
    padding: 0;
    color:black;
    height:100%;
}

a {
    text-decoration:none;
}
h1, h2 {
    text-align:left;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

/*шапки сайта */
#header {
    display:block;
    justify-content: space-between;
    padding:10px 10px 10px 0;
    height:50px;
}

#header .header_login {
    position:absolute;
    font-size:20px;
    top:10px;
    right:20px;
    text-align:right;
}

#header .block_messages {
    position:absolute;
    font-size:15px;
    top:10px;
    right:710px;

}

/* messages */


ul.messages {
    width:100%;
    list-style-type: none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    height:30px;
    width:475px;
    padding: 4px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {

    font-size:20px;
    bot:5px;
    right:1px;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

#main {
  position: relative;
  margin-top:200px;
}
.block {
  position: absolute;
  left: 50%;
  top: 50%;
  /* ширина и высота 2 блока */
  width: 500px;
  height: 500px;
  /* Значения определяются в зависимости от его размера */
  /* margin-left = - width / 2 */
  margin-left: -250px;
  /* margin-top = - height / 2 */
  margin-top: -125px;
}