{% extends "core/base.html" %}
{% load static %}

{% block title %}Создайте новый аккаунт{% endblock %}

{% block content %}

<div id="main">
    <p><a href="{% url 'core:index' %}">Сайт</a> / Регистрация</p>
    <h4>Создайте новый аккаунт</h4>
    <p>Пожалуйста, заполните все необходимые поля в форме:</p>

    <form action="." method="post" class="register_form">
          {{ user_form.as_p }}
          <input type="submit" value="Создать аккаунт"></td>
           {% csrf_token %}
     </form>
</div>
{% endblock %}