{% extends "core/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} {{ image }} {% endblock %}

{% block content %}
<div id="main">

    <p><a href="{% url 'core:index' %}">Главное меню</a> /
        <a href="{% url 'core:posts_by_rubric' image.rubric.slug %}">{{ image.rubric }}</a> /
        <a href="{% url 'core:post_view' image.post.slug %}">{{ image.post }}</a> /
        Фото </p>
     <!-- Лайки для изображений-->
    <input type="button" id="like" name="{{ image.pk }}" value="&#10084;" />
    <text id="total_likes"> {{ image.total_likes }} </text><br>
    <img src="{% thumbnail image.image 1000x1400 crop %}"> <br><br>
</div>

<script>
$('#like').click(function(){
      $.ajax({
           type: "POST",
           url: "{% url 'core:like' %}",
           data: {'pk': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
           dataType: "json",
            success: function(response) {
              document.getElementById("total_likes").innerHTML = response.likes_count;
            },
          });
    })
</script>
{% endblock %}

