{% extends "core/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} {{ image }} {% endblock %}

{% block content %}
    <p><a href="{% url 'core:index' %}">Главное меню</a> /
        <a href="{% url 'core:posts_by_rubric' image.post.rubric.slug %}" >{{ image.rubric }}</a> /
        <a href="{% url 'core:post_view' image.post.slug %}">{{ image.post }}</a> /
        Фото </p>
    <img src="{% thumbnail image.image 1000x1200 crop %}"><br>
     <!-- Лайки для изображений-->
    <div class="likes" accessKey="{{ image.pk }}">
        <input type="button" value="&#10084;" />
        <text class="total_likes">{{ image.total_likes }}</text>
    </div>
    <br><br>

<script>
$('.likes').click(function(){
    this_=$(this)
      $.ajax({
           type: "POST",
           url: "{% url 'core:like' %}",
           data: {'pk': $(this).attr('accessKey'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
           dataType: "json",
            success: function(response) {
                total_likes = this_.find('.total_likes')
                total_likes.text(response.likes_count)
            },
            error: function() {
                window.location.replace("{% url 'login' %}")

             },
          });
    })
</script>
{% endblock %}

