{% extends "core/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Топ 10 коллекций {% endblock %}

{% block content %}
<div id="main">
    <p><a href="{% url 'core:index' %}">Главное меню</a> / Результаты поиска</p>
    {% if posts %}
        {% for post in posts %}
            <div class="post">
                <b><a style="color:black" href="{{ post.get_absolute_url }}">{{ post.title }}
                    <img src="{% thumbnail post.image_for_title.image 300x300 crop %}"></a></b>

                <a href="{{ post.model.get_absolute_url }}">#{{ post.model }} </a>
                <a href="{{ post.rubric.get_absolute_url }}">#{{ post.rubric }}</a>
                <br>
                {{ post.created }} <br>
            </div>
        {% endfor %}
    {% else %}
        <p>По запросу <b>{{ query }}</b> ничего не найдено. Попробуйте еще</p>
    {% endif %}
</div>


{% endblock %}