{% extends "core/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Топ 10 коллекций {% endblock %}

{% block content %}
<div id="main">
    <div class="block">
        {% for collection in object_list %}
            {{ collection.description }}<br>
            <a href="{{ collection.model.get_absolute_url }}">#{{ collection.model }} </a>
            <a href="{{ collection.rubric.get_absolute_url }}">#{{ collection.rubric }}</a><br>
            {% for image in collection.images_in_collection %}
                <a href="{% url 'core:image_view' image.slug %}">
                <img src="{% thumbnail image.image 150x150 crop %}"></a>
            {% endfor %}
        <br>
        {% endfor %}
    </div>
</div>


{% endblock %}